/*header*/
#header {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/header*/

/*navigation*/
#navigation {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/navigation*/

/*portofolio*/
#portofolio {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/portofolio*/

/*feadback*/
#feadback {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/feadback*/

/*products*/
#products {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/products*/

/*vip-products*/
#vip-products {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/vip-products*/

/*about*/
#about {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/about*/

/*advantages*/
#advantages {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/advantages*/

/*action*/
#action {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/action*/

/*action-deadline*/
#action-deadline {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/action-deadline*/

/*action-signup*/
#action-signup {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/action-signup*/

/*personnel*/
#personnel {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/personnel*/

/*clients*/
#clients {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/clients*/

/*scheme*/
#scheme {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/scheme*/

/*faq*/
#faq {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/faq*/

/*reasons*/
#reasons {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/reasons*/

/*certificates*/
#certificates {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/certificates*/

/*prices*/
#prices {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/prices*/

/*progress*/
#progress {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/progress*/

/*guarantee*/
#guarantee {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/guarantee*/

/*gallery*/
#gallery {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/gallery*/

/*partners*/
#partners {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/partners*/

/*contacts*/
#contacts {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/contacts*/

/*footer*/
#footer {
	position: relative;
	height: 100px;
	width: 100%;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
}
/*/footer*/


